<ion-header>
  <ion-toolbar>
     <ion-title>Scanner QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-item>
    <ion-input type="text" placeholder="Codigos QR" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <br>
  &nbsp;&nbsp;
  <ion-button full icon-left (click)="createCode()"  >&nbsp;<ion-icon name="barcode" ></ion-icon>&nbsp;&nbsp;Generar QR</ion-button>
<br>
  &nbsp;&nbsp;
  <ion-button full icon-left (click)="scanCode()"  ><ion-icon name="qr-code"></ion-icon>&nbsp;&nbsp;Escanear QR </ion-button>
  <br>
  <br>
</ion-card>

<ion-card *ngIf="createdCode">
  <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
  <ion-card-content>
    <p>Valor del QR: {{createdCode}}
  </ion-card-content>
</ion-card>


<ion-card *ngIf="scanedCode">
  <ion-card-content>
    <p>Resultato del scanner: {{scanedCode}}
  </ion-card-content>
</ion-card>
</ion-content>
